# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store

# Ignore folder_working
folder_working/
00_working/
00_work_dir/
a_working_dir/

# Ignore .env files
*.env
*.env.*
.env
.env.*
**/.env
**/.env.*


# Ignore folders of this project
/app_vue/node_modules
/app_vue/public
/app_vue/src/assets/bootstrap
/app_vue/src/assets/bootstrap-icons

