# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store

# Ignore folder_working
folder_working/
00_working/
00_working_dir/
00_work_dir/
a_working_dir/

# Ignore .env files
*.env
*.env.*
.env
.env.*
**/.env
**/.env.*


# Ignore folders of this project
/frontend-app/node_modules
/frontend-app/public
/frontend-app/src/assets/img
/frontend-app/src/assets/bootstrap
/frontend-app/src/assets/bootstrap-icons
/frontend-app/jsconfig.json
/frontend-app/package-lock.json
/frontend-app/eslint.config.js
clean_docker.py

